.cabecalho {
  box-sizing: border-box;
  
  position: -webkit-sticky; /*só precisa pro safari  */
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  background-color: darkslategrey;
  border-bottom: plum solid 3px;
  margin: 0;
  padding: 1vh 0vh 1vh 0vh;
  height: 14vh;
}

.menu li {
  display: inline-block;
  padding: 2vh 0;
}

.menu li:hover, .cabecalho span:hover {
  font-weight: bold;
  border-width: 0px 2px;
}

.logo {
  height: 100%;
}


.cabecalho a {
  text-decoration: none;
  color: white;
  font-family: 'monospace';
  font-size: 1.5em;
  margin: 10px;
}

.logo img {
  display: inline-block;
  box-sizing: border-box;
  height: 90%;
}

.current-nav {
  border-width: 0px 1px;
  border-style: solid;
  border-color: white;
}

@media (max-width: 600px), (orientation: portrait) {

  #optional_button {
      display: none;
  }
  
  #language_name {
    display: none;
  }

  .menu-toggle {
      display: block;
  }
}
