
.source {
  font-family: monospace;
  size: 100%;
}

textarea {
  resize: none;
  width: 45%;
}

table, th, td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-weight: lighter;
}